<h1>Hello Sessions Home</h1>

<h4><%=link_to('Sign in with Github', '/auth/github')%></h4>

<h4><%= link_to "Sign UP", signup_path %></h4>

<p>or</p>

<h4><%= link_to "Sign IN", signin_path %></h4>




