<h1>Hello Sessions Home</h1>

<% if logged_in? %>
    <h1>You are Logged In, <%= current_user.name %></h1>
<%end%>

<h4><%=link_to "Login Via Github", "/auth/github" %></h4>

<h4><%= link_to "Sign UP", signup_path %></h4>

<p>or</p>

<h4><%= link_to "Sign IN", signin_path %></h4>




