<h1>Mission Index</h1>

<ol>
<% @missions.each do |m| %>
    <li>
    <p>Company: <%=m.company.name%></p>
    <p>Ship Info: <%=m.ship%></p>
    <p>Dock: <%=m.dock.title%></p><br>
    <%=link_to "Mission Path", mission_path(m)%>
    </li>
<% end %>
</ol>
