<h1>Home Dock</h1>

<ol>
<p>Dock: Shanghai, Location: Yangtze Delta</p>
<%= link_to "Dock", new_dock_path %><br>

<p>Dock: Singapore, Location: Singapore Strait</p>
<%= link_to "Dock", new_dock_path %><br>

<p>Dock: Shenzhen, Location: Pearl River Delta</p>
<%= link_to "Dock", new_dock_path %><br>
</ol>