<h1>Dock Index</h1>
<ol>
<% @docks.each do |d| %>
    <li>
    <p>Title: <%=d.title%></p>
    <p>Location: <%=d.location%></p><br>
    <%=link_to "New Mission", new_mission_path%>
    </li>
<% end %>
</ol>

<%= button_to "Sign Out", session_path, method: :delete %>