<h1>Ports Index</h1>

<%=link_to "New Mission", new_mission_path%><br>
<ol>
<% @docks.each do |d| %>
    <li>
    <p>Port Name: <%=d.title%></p>
    <p>Item: <%=d.item%></p>
    </li>
<% end %>
</ol>

<%= button_to "Sign Out", session_path, method: :delete %>